doctype html
html.no-js(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      body {
        background: #040207;
        color: white;
        padding: 10px;
      }
      p {
        margin-bottom: 5px;
        color: #888;
      }
      a {
        display: block;
        color: #EC4989;
      }

  body
    h1 Page 1
    a(href="/") Link to home
    a(href="/page2") Link to page 2

    script(src='/js/confirm-age.js')
